@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
      <h1>  @Html.ActionLink("Clienti", "Index","Clienti")</h1>
      
    </div>
    <div class="col-md-4">
       <h1> @Html.ActionLink("Articoli", "Index", "Articoli")</h1>

    </div>
    </div>